@font-face
{
    font-family: AmaticSC;
    src: url("FontFamily/AmaticSC-Bold.ttf");
}

.categories_detail {
    display: none;
    width: 85%; 
    text-align: left; 
    color: #888888;
    font-family:Trebuchet MS;
    float: left;
    text-align: justify;
}

.asd {
    display: none;
    height: 100%;
    float:right;
    color: #ffffff;
    font-size: 2em;
    vertical-align: central;
    padding-top: 5%;
    padding-left: 15%;
    font-weight: normal;
}

.categories {
    font-family: AmaticSC;
    width: 99%; 
    text-align: left; 
    color: #FBFF00;
    font-size: 1.5em;
    text-align: justify;
}

.category_name {
    color: #ffffff;
    font-family:Trebuchet MS;
}

#search {      
   background: #FFFFFF;
   background-image:url('../img/search-button.png');
   background-repeat:no-repeat;
   background-position:right;  padding-right:15px;
}

.selector {
    width: 20px;
}

.ul-menu {
    list-style-type: none;
}

#menu {
   padding: 0px;
}

.category_name {
    font-size: 1.5em;
}

.category_description {
    width: 100%;
    font-size: 1em;
    text-align: justify;
}

.category_tittle {
    font-size: 2em;
}

@media only screen and (min-width:1136px) {
    #overthrow{
        height: 21.5em;
    }

    .category_description {
        font-size: 1.5em;
    }
}


@media only screen and (min-width:720px){
    /*-----Android----*/
    .categories_detail {
        min-height:5em;
        font-size: 2em;
        margin: 0px 30px;
        float: left;
    }

    .categories {
        font-size: 4em !important;
    }

    .asd {
        font-size: 2em;
    }


}

@media only screen and (min-width:1080px) {
    .categories {
        font-size: 2.5em;
    }

    .category_name {
        font-size: 2em;
    }

    .category_description {
        font-size: 1.5em;
    }

    .category_tittle {
        font-size: 2.5em;
    }

    .asd {
        font-size: 4em;
    }
}